<%- get_layout("header") %>
  <div id="content" class="mt-2 mb-2">
    <div class="row">
      <div class="col-md-3  border-right">
        <%- get_layout("sidebar") %>
      </div>
      <div class="col-md-8">
        <div class="col-md-12">
          <div id="main-content-wp" class="cart-page">
            <div class="section" id="info-cart-wp">
              <div class="section-detail table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>STT</th>
                      <th>Mã</th>
                      <th>Tiêu đề</th>
                      <th>Trạng thái</th>
                      <th>Người Tạo</th>
                      <th>Thời gian tạo</th>
                      <th>Cập nhật</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>HCA00031</td>
                      <td>
                        <ul class="list-inline">
                          <li class="list-inline-item"> <a href="" title="" class="name-product">Sony Express X6</a>
                          </li>
                          <li class="list-inline-item"> <a href="" title="" class="update-product"><i
                                class="fa-solid fa-pencil"></i></a></li>
                          <li class="list-inline-item"> <a href="" title="" class="del-product"><i
                                class="fa-solid fa-trash"></i></a></li>
                        </ul>
                      </td>
                      <td>
                        Đã đăng
                      </td>
                      <td>maithuc</td>
                      <td>
                        19/20/2003
                      </td>
                      <td>
                        19/20/2003
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>HCA00031</td>
                      <td>
                        <ul class="list-inline">
                          <li class="list-inline-item"> <a href="" title="" class="name-product">Sony Express X6</a>
                          </li>
                          <li class="list-inline-item"> <a href="" title="" class="update-product"><i
                                class="fa-solid fa-pencil"></i></a></li>
                          <li class="list-inline-item"> <a href="" title="" class="del-product"><i
                                class="fa-solid fa-trash"></i></a></li>
                        </ul>
                      </td>
                      <td>
                        Đã đăng
                      </td>
                      <td>maithuc</td>
                      <td>
                        19/20/2003
                      </td>
                      <td>
                        19/20/2003
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>HCA00031</td>
                      <td>
                        <ul class="list-inline">
                          <li class="list-inline-item"> <a href="" title="" class="name-product">Sony Express X6</a>
                          </li>
                          <li class="list-inline-item"> <a href="" title="" class="update-product"><i
                                class="fa-solid fa-pencil"></i></a></li>
                          <li class="list-inline-item"> <a href="" title="" class="del-product"><i
                                class="fa-solid fa-trash"></i></a></li>
                        </ul>
                      </td>
                      <td>
                        Đã đăng
                      </td>
                      <td>maithuc</td>
                      <td>
                        19/20/2003
                      </td>
                      <td>
                        19/20/2003
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>HCA00031</td>
                      <td>
                        <ul class="list-inline">
                          <li class="list-inline-item"> <a href="" title="" class="name-product">Sony Express X6</a>
                          </li>
                          <li class="list-inline-item"> <a href="" title="" class="update-product"><i
                                class="fa-solid fa-pencil"></i></a></li>
                          <li class="list-inline-item"> <a href="" title="" class="del-product"><i
                                class="fa-solid fa-trash"></i></a></li>
                        </ul>
                      </td>
                      <td>
                        Đã đăng
                      </td>
                      <td>maithuc</td>
                      <td>
                        19/20/2003
                      </td>
                      <td>
                        19/20/2003
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>HCA00031</td>
                      <td>
                        <ul class="list-inline">
                          <li class="list-inline-item"> <a href="" title="" class="name-product">Sony Express X6</a>
                          </li>
                          <li class="list-inline-item"> <a href="" title="" class="update-product"><i
                                class="fa-solid fa-pencil"></i></a></li>
                          <li class="list-inline-item"> <a href="" title="" class="del-product"><i
                                class="fa-solid fa-trash"></i></a></li>
                        </ul>
                      </td>
                      <td>
                        Đã đăng
                      </td>
                      <td>maithuc</td>
                      <td>
                        19/20/2003
                      </td>
                      <td>
                        19/20/2003
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="section-footer">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav>
                  <ul class="pagination pagination-sm justify-content-center">
                      <li class="page-item disabled">
                          <a href="" class="page-link disabled">&laquo;</a>
                      </li>
                      <li class="page-item active">
                          <a href="" class="page-link">1</a>
                      </li>
                      <li class="page-item">
                          <a href="" class="page-link">2</a>
                      </li>
                      <li class="page-item">
                          <a href="" class="page-link">3</a>
                      </li>
                      <li class="page-item">
                          <a href="" class="page-link">&raquo;</a>
                      </li>
                  </ul>
              </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- get_layout("footer") %>