<ul id="sidebar-menu" class="m-1 nav flex-column">
  <li class="nav-item">
    <a href="" title="" class="nav-link" data-toggle="collapse" data-target="#pages">
      <span class="fa fa-map"></span>
      <span class="title">Trang</span>
    </a>
    <ul class="collapse" id="pages">
      <li class="nav-item">
        <a href="trang/add" title="" class="nav-link">Thêm mới</a>
      </li>
      <li class="nav-item">
        <a href="trang" title="" class="nav-link">Danh sách các trang</a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a href="" title="" class="nav-link" data-toggle="collapse" data-target="#post">
      <i class="fa-solid fa-pen-to-square"></i>
      <span class="title">Bài Viết</span>
    </a>
    <ul class="collapse" id="post">
      <li class="nav-item">
        <a href="bai-viet/add" title="" class="nav-link">Thêm mới</a>
      </li>
      <li class="nav-item">
        <a href="bai-viet" title="" class="nav-link">Danh sách bài viết</a>
      </li>
      <li class="nav-item">
        <a href="bai-viet/danhmuc" title="" class="nav-link">Danh mục bài viết</a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a href="" title="" class="nav-link" data-toggle="collapse" data-target="#product">
      <span class="fa-brands fa-product-hunt"></span>
      <span class="title">Sản phẩm</span>
    </a>
    <ul class="collapse" id="product">
      <li class="nav-item">
        <a href="sanpham/add" title="" class="nav-link">Thêm mới</a>
      </li>
      <li class="nav-item">
        <a href="sanpham" title="" class="nav-link">Danh sách sản phẩm</a>
      </li>
      <li class="nav-item">
        <a href="sanpham/danhmuc" title="" class="nav-link">Danh mục sản phẩm</a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a href="" title="" class="nav-link" data-toggle="collapse" data-target="#slider">
      <i class="fa-solid fa-sliders"></i>
      <span class="title">Slider</span>
    </a>
    <ul class="collapse" id="slider">
      <li class="nav-item">
        <a href="slider/add" title="" class="nav-link">Thêm mới</a>
      </li>
      <li class="nav-item">
        <a href="slider" title="" class="nav-link">Danh sách các slider</a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a href="" title="" class="nav-link" data-toggle="collapse" data-target="#order">
      <i class="fa-solid fa-database"></i>
      <span class="title">Bán hàng</span>
    </a>
    <ul class="collapse" id="order">
      <li class="nav-item">
        <a href="ban-hang" title="" class="nav-link">Danh sách đơn hàng</a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a href="" title="" class="nav-link" data-toggle="collapse" data-target="#menu">
      <span class="fa-brands fa-product-hunt"></span>
      <span class="title">Menu</span>
    </a>
    <ul class="collapse" id="menu">
      <li class="nav-item">
        <a href="menu/add" title="" class="nav-link">Thêm menu</a>
      </li>
      <li class="nav-item">
        <a href="menu" title="" class="nav-link">Danh sách menu</a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a href="" title="" class="nav-link" data-toggle="collapse" data-target="#info">
      <span class="fa-brands fa-product-hunt"></span>
      <span class="title">Danh sách tài khoản</span>
    </a>
    <ul class="collapse" id="info">
      <li class="nav-item">
        <a href="info-user/admin" title="" class="nav-link">Quản trị viên</a>
      </li>
      <li class="nav-item">
        <a href="info-user/user" title="" class="nav-link">Người dùng</a>
      </li>
    </ul>
  </li>
</ul>