<div class="section" id="filter-product-wp">
    <div class="section-head">
        <h3 class="section-title">Bộ lọc giá</h3>
    </div>
    <div class="section-detail">
        <ul class="list-group">
            <li class="list-group-item">
                <input type="radio" name="r-price" value="under_500000">
                <span>Dưới 500.000đ</span>
            </li>
            <li class="list-group-item">
                <input type="radio" name="r-price" value="500k_1m">     <!-- 500k - 1tr -->
                <span>500.000đ - 1.000.000đ</span>
            </li>
            <li class="list-group-item">
                <input type="radio" name="r-price" value="1m_5m">    <!-- 1tr - 5tr -->
                <span>1.000.000đ - 5.000.000đ</span>
            </li>
            <li class="list-group-item">
                <input type="radio" name="r-price" value="5m_10m">   <!-- 5tr - 10tr -->
                <span>5.000.000đ - 10.000.000đ</span>
            </li>
            <li class="list-group-item">
                <input type="radio" name="r-price" value="over_10m">   <!-- trên 10tr -->
                <span>Trên 10.000.000đ</span>
            </li>
        </ul>
    </div>
</div>
