<div class="section" id="same-category-wp">
    <div class="section-head">
        <h3 class="section-title">Cùng chuyên mục</h3>
    </div>
</div>
<div id="product_category">
    <div class="owl-carousel owl-theme">
        <div class="item border">
            <div class="product p-1 py-2">
                <a href="/san-pham/ghe-da-cong-vien/1">
                    <img class="img-fluid" src="images/product-1.jpg" alt="">
                </a>
                <div class="info text-center">
                    <a href="" class="product-name">Bàn ghế đá</a>
                    <div class="price">
                        <span class="new">200.200đ</span>
                        <span class="old">400.200đ</span>
                    </div>
                    <a href="" class="buy-now">MUA NGAY</a>
                </div>
            </div>
        </div>
        
    </div>
</div>