<div class="section-title" id="support-wp">
    <div class="container">
        <div class="row">
            <div class="text-center col-md-3 border-right">
                <div>
                    <img class="img-fluid" src="images/icon-1.png" alt="">
                </div>
                <p class="title">Miễn phí vận chuyển</p>
                <p class="desc">Tới tận tay khách hàng</p>
            </div>
            <div class="text-center  col-md-3 border-right">
                <div class="text-center">
                    <img class="img-fluid" src="images/icon-2.png" alt="">
                </div>
                <p class="title">Tư vấn 24/7</p>
                <p class="desc">1900.9999</p>
            </div>
            <div class="text-center col-md-3 border-right">
                <div class="text-center">
                    <img class="img-fluid" src="images/icon-3.png" alt="">
                </div>
                <p class="title">Tiết kiệm hơn</p>
                <p class="desc">Với nhiều ưu đãi cực lớn</p>
            </div>
            <div class="text-center col-md-3 border-right">
                <div class="text-center">
                    <img class="img-fluid" src="images/icon-4.png" alt="">
                </div>
                <p class="title">Thanh toán nhanh</p>
                <p class="desc">Hỗ trợ nhiều hình thức</p>
            </div>
        </div>
    </div>
</div>