#content #main-content-wp img{width: 130px; height: auto;}
#content #main-content-wp #total-price{font-size: 16px;font-weight: bold;}
#content #main-content-wp #total-price span{font-size: 16px; font-weight: normal; color: red;}

