/* Sidebar menu */
#content #sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

#content #sidebar-menu li {
    margin-bottom: 5px;
    list-style: none;
}

/* Sidebar links */
#content #sidebar-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #c8c2c2;
    transition: background 0.3s ease;
    font-size: 16px;
}

/* Hover effect */
#content #sidebar-menu li a:hover {
    background: #e9ecef;
    color: #007bff;
    font-size: 16px;

}